/* Typography */
.ck-content { font-family: 'Noto Sans KR', sans-serif !important;}
/* 폰트 굵기 */
.ck-content .fw_black   { font-weight: 900; }
.ck-content .fw_bold    { font-weight: 700; }
.ck-content .fw_medium  { font-weight: 500!important; }
.ck-content .fw_regular { font-weight: 400; }
.ck-content .fw_light   { font-weight: 300; }
/* 폰트 크기 */
.ck-content .fs_24 { font-size: 24px; }
.ck-content .fs_22 { font-size: 22px; }
.ck-content .fs_20 { font-size: 20px; }
.ck-content .fs_18 { font-size: 18px; }
.ck-content .fs_16 { font-size: 16px; }
.ck-content .fs_15 { font-size: 15px; }
.ck-content .fs_14 { font-size: 14px; }
.ck-content .fs_13 { font-size: 13px; } 
.ck-content .fs_12 { font-size: 12px; }
.ck-content .fs_11 { font-size: 11px; }
.ck-content .fs_10 { font-size: 10px; }
/* 폰트 행간 */
.ck-content .lh_16 { line-height: 16px; }
.ck-content .lh_20 { line-height: 20px; } /* 컴포넌트 없음*/
.ck-content .lh_22 { line-height: 22px; }
.ck-content .lh_24 { line-height: 24px; }
.ck-content .lh_26 { line-height: 26px; }
.ck-content .lh_28 { line-height: 28px; }
.ck-content .lh_30 { line-height: 30px; }
.ck-content .lh_32 { line-height: 32px; }
.ck-content .lh_34 { line-height: 34px; }
.ck-content .lh_36 { line-height: 36px; }
.ck-content .lh_38 { line-height: 38px; }
.ck-content .lh_40 { line-height: 40px; }
.ck-content .lh_42 { line-height: 42px; }
.ck-content .lh_44 { line-height: 44px; }
.ck-content .lh_46 { line-height: 46px; }
.ck-content .lh_48 { line-height: 48px; }
/* 제목 1~5 */
.ck-content h1 { font-size: 24px; font-weight: 700; line-height: 36px; letter-spacing: -0.96px;}
.ck-content h2 { font-size: 16px; font-weight: 700; line-height: 24px; letter-spacing: -0.64px;}
.ck-content h3 { font-size: 14px; font-weight: 400; line-height: 22px; letter-spacing: -0.56px;}
.ck-content h4 { font-size: 12px; font-weight: 400; line-height: 20px; letter-spacing: -0.48px;}
.ck-content h5 { font-size: 12px; font-weight: 400; line-height: 22px; letter-spacing: -0.48px;}

/* Text Color  */
:root { 
  --color-white: #fff;
  --color-purple: #660F89;
  --color-purple10: #5C0E7C;
  --color-light-purple01: #F9F6FA;
  --color-light-purple02: #EEE5F2;
  --color-deep-blue:   #424FAB; 
  --color-blue:   #2A77C2;
  --color-light-blue:   #F7FAFD;
  --color-pink:      #BE0683;
  --color-deep-pink: #8E0B86;
  --color-light-pink01: #FBF6FA;
  --color-light-pink02: #F7F3F8;
  --color-gray-22:   #222;  /* 기본 본문 */
  --color-gray-44:   #444;
  --color-gray-55:   #555;
  --color-caption:   #777;  /* 캡션용 */
  --color-gray-88:   #888; 
  --color-gray-99:   #999;
}

/* 텍스트 색상 클래스 */
.ck-content .text-white     { color: var(--color-white); }
.ck-content .text-purple    { color: var(--color-purple)!important; }
.ck-content .text-purple10  { color: var(--color-purple10); }
.ck-content .text-deep-blue { color: var(--color-deep-blue); }
.ck-content .text-blue      { color: var(--color-blue); }
.ck-content .text-pink      { color: var(--color-pink); }
.ck-content .text-deep-pink { color: var(--color-deep-pink); }
.ck-content .text-gray-22   { color: var(--color-gray-22); }
.ck-content .text-gray-44   { color: var(--color-gray-44); }
.ck-content .text-gray-55   { color: var(--color-gray-55); }
.ck-content .text-caption   { color: var(--color-caption); }
.ck-content .text-gray-88   { color: var(--color-gray-88); }
.ck-content .text-gray-99   { color: var(--color-gray-99); }
/* 배경색 클래스 */
.ck-content .bg-purple      { background-color: var(--color-purple); }
.ck-content .bg-purple10    { background-color: var(--color-purple10); }
.ck-content .bg-light-purple01 { background-color: var(--color-light-purple01);}
.ck-content .bg-light-purple02 { background-color: var(--color-light-purple02);}
.ck-content .bg-deep-blue   { background-color: var(--color-deep-blue); }
.ck-content .bg-blue        { background-color: var(--color-blue); }
.ck-content .bg-light-blue        { background-color: var(--color-light-blue); }
.ck-content .bg-pink        { background-color: var(--color-pink); }
.ck-content .bg-deep-pink   { background-color: var(--color-deep-pink); }
.ck-content .bg-light-pink01   { background-color: var(--color-light-pink01); }
.ck-content .bg-light-pink02   { background-color: var(--color-light-pink02); }
.ck-content .bg-gray-22     { background-color: var(--color-gray-22); }
.ck-content .bg-gray-44     { background-color: var(--color-gray-44); }
.ck-content .bg-gray-55     { background-color: var(--color-gray-55); }
.ck-content .bg-caption     { background-color: var(--color-caption); }
.ck-content .bg-gray-88     { background-color: var(--color-gray-88); }
.ck-content .bg-gray-99     { background-color: var(--color-gray-99); }
.bg-white     { background-color: var(--color-white); }

/* margin */
.margin-auto {margin: 0 auto;}
.ml-15 {margin-left: 15px;}

/* white-space-nowrap */
.white-space-nowrap {white-space: nowrap;}

/* letter-spacing */
.letter--48 {letter-spacing: -0.48px;}

/* 난임백과 */
.outter_bg {background-color: #FAF8FB!important;}
.outter_shadow { box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);}
.outter_radius { border-radius: 20px;}
.outter_margin { margin: 0 15px 0 15px;}
.outter_padding { padding: 30px 0 25px 0!important;}
.outter_min_height { min-height: 40vh;}
.inner_padding {padding: 0 10px;}
.inner_contents { border-radius: 20px; background: #FFF; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04); margin: 0 15px 0 15px; min-height: 40vh; padding: 30px 15px 25px 15px;}
.inner_contents .text_wrap,
.inner_contents .text_wrap02{ margin: 0 15px;}
.ck-content .inner_contents .title_txt,
.ck-content .inner_contents .title_txt02{ text-align: center; font-size: 24px; font-weight: 700; line-height: 34px; letter-spacing: -0.96px; color: #222;}
.ck-content .inner_contents .title_txt .tooltip,
.ck-content .inner_contents .title_txt02 .tooltip02{vertical-align:top;}
.ck-content .inner_contents .description_txt,
.ck-content .inner_contents .description_txt02{color: var(--Neutral-gray-55, #555); text-align: center; font-size: 14px; font-weight: 400; line-height: 22px; letter-spacing: -0.56px;}
.ck-content .inner_contents .sub_title,
.ck-content .inner_contents .sub_title02,
.ck-content .inner_contents .numb_title{ color: var(--Neutral-black-22, #222); font-size: 16px; font-weight: 700; letter-spacing: -0.64px;}
.ck-content .inner_contents .numb_title{list-style: decimal;}
.ck-content .inner_contents .sub_text,
.ck-content .inner_contents .sub_text02{ color: #555; font-size: 12px; font-weight: 400; line-height: 20px; letter-spacing: -0.48px;}
.ck-content .padding-0-5{padding: 0 5px;}
.ck-content .padding-0-10{padding: 0 10px;}

/* border color */
/* border top color */
.ck-content .bt-purple-10 { border-top:1px solid var(--color-purple10);}
/* border bottom color */
.ck-content .bb-purple-10 { border-bottom:1px solid var(--color-purple10)!important;}
.ck-content .bb-purple-20 { border-bottom:1px solid #480b60!important;}
.ck-content .bb-gray-d9 { border-bottom:1px solid #d9d9d9 ;}

/* 테이블 */ 
.ck-content .text-center { text-align: center;}
.ck-content .text-left { text-align: left!important;}
.ck-content .table-scroll { 
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
}

/* 스크롤바 숨김 */
.ck-content .no-scrollbar {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ck-content .no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* 테이블 A 타입  */
.ck-content .sub_warning {
  color: var(--Neutral-gray-99, #999);
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.4px;
  margin: 0 30px;
}
.ck-content .table-a {
  width: 100%;
  border-collapse: collapse;
}
.ck-content .layout_fixed {
table-layout: fixed;
}
.ck-content .table-a.purple {
  border-top: 1px solid var(--color-purple);
}
.ck-content .table-a.gray {
  border-top: 1px solid var(--Neutral-black-22, #222);
}
.ck-content .table-a thead th {
  text-align: center;
  font-size: 12px; 
  border-bottom: 1px solid #D9D9D9; 
  font-weight: 700; 
}
.ck-content .table-a.purple thead th {
  padding: 10px;
  background-color: var(--color-light-pink02);
  color: var(--color-purple);
}
.ck-content .table-a.gray thead th {
  padding: 19px  10px;
  background-color: var(--Neutral-gray-F6, #F6F6F6);
  color: #222;
}
.ck-content .table-a tbody td {
  vertical-align: middle ;
  border-bottom: 1px solid #D9D9D9;
  padding: 10px;
}
.ck-content .table-a tbody td p.title {
  color: var(--Neutral-black-22, #222);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.48px;
}
.ck-content .table-a tbody td p.sub_title {
  color: var(--Neutral-gray-88, #888);
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.4px;
}
.ck-content .table-a tbody td p.text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.48px;
} 

/* 테이블 B 타입  */

.ck-content .table-b {
  border-collapse: collapse;
  table-layout: auto;
  text-align: center;
  font-size: 12px;
}
.ck-content .table-b td {
  padding: 10px;
  border-bottom: 1px solid #D9D9D9;
  vertical-align: middle;
}
.ck-content .table-b tbody td p.title {
  color: var(--Neutral-black-22, #222);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.48px;
}
.ck-content .table-b tbody td p.sub_title {
  color: var(--Neutral-gray-88, #888); 
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.4px;
}
.ck-content .table-b tbody td p.text {
  color: var(--Neutral-black-22, #222);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
} 
.ck-content .table-b tbody td p.sub_text {
  color: var(--Neutral-gray-55, #555);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.4px;
}
.ck-content .table-b th {
  font-weight: 700;
  padding: 12px 0; 
}
.ck-content .table-b thead .title th:first-child,
.ck-content .table-b td:first-child {
  min-width: 105px;
}
.ck-content .table-b th:not(:first-child),
.ck-content .table-b td:not(:first-child) {
  min-width: 100px;
}
.ck-content .table-b thead .title th {
  padding: 12px 0;
  font-weight: 700;
}
.ck-content .table-b thead .sub-title th {
  padding: 10px 0;
}

/* 테이블 C 타입  */
.ck-content .table-c {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  table-layout: fixed;
  border-top: 1px solid #660F89;
}
.ck-content .table-c th,
.ck-content .table-c td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #E0E0E0;
  font-size: 12px;
}
.ck-content .table-c .bg-light-pink02 {
  font-weight: 700;
}
.ck-content .table-c .sub-title th {
  font-weight: 700;
}
.ck-content .table-c tr.has-caption {
  background-color: #FBF0F8;
}

/* 하이퍼링크 */
.ck-content a.link-purple{
  color: var(--color-purple);
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.56px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  word-break: break-all;
}

/* Caption */
.ck-content .tooltip {
  width: 9px;
  height: 9px; 
  color: var(--Neutral-FFF, var(--Neutral-fff, #FFF));
  text-align: center;
  font-size: 6px;
  font-weight: 500;
  letter-spacing: -0.24px;
  background: var(--Neutral-gray-77, #777); 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: super;
  margin-left: 3px;
  line-height: 9px;
}

.ck-content .tooltip02 {
  width: 9px;
  height: 9px; 
  color: var(--Neutral-FFF, var(--Neutral-fff, #FFF));
  text-align: center;
  font-size: 6px;
  font-weight: 500;
  letter-spacing: -0.24px;
  background: var(--Neutral-gray-77, #777); 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: super;
  margin-left: 3px;
  line-height: 9px;
}

/* 숫자 리스트 공통 스타일 */
.ck-content .number-list {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 16px;
  letter-spacing: -0.64px;
} 

.ck-content .numb_list{
  margin: 0 10px ;
}
.ck-content .numb_list > li{list-style-type: decimal;}

/* 도형 리스트 */
.ck-content .check_icon{ width: 11.489px; height: 9px; display: inline-flex; background-size: cover; background-repeat: no-repeat;}
.ck-content .check_icon_purple{ background-image: url(/static/images/user/common/check_puple.svg);}
.ck-content .check_icon_blue{ background-image: url(/static/images/user/common/check_blue.svg);}
.ck-content .check_icon_pink{ background-image: url(/static/images/user/common/check_pink.svg);}

.ck-content .circle_list{ display: flex; align-items: center; gap: 6px; position: relative; padding-left: 10px;}
.ck-content .circle_icon{ width: 4px; height: 4px; border-radius: 100%; flex-shrink: 0; display: inline-block; vertical-align: middle; position: absolute; top: 8px; left: 0;}
.ck-content .circle_icon_black{ background-color: #222;}
.ck-content .circle_icon_gray{ background-color: #D9D9D9;}
.ck-content .circle_icon_purple{background-color: #660F89;}
.ck-content .circle_icon_blue{background-color: #2A77C2;}
.ck-content .circle_icon_pink{background-color: #BE0683;}

.ck-content .circle_list_top {position: relative;padding-left: 10px;} /* list-type 위쪽 정렬 */
.ck-content .circle_list::before,
.ck-content .circle_list_top::before {content: '';display: block;width: 4px;height: 4px;border-radius: 100%;flex-shrink: 0;display: inline-block;vertical-align: middle;background-color: #660F89; position: absolute; top: 8px; left: 0;}
.ck-content .circle_list_top::before {position: absolute;top: 8px;left: 0;}
.ck-content .circle_list_gray::before {background-color: #D9D9D9;}
.ck-content .circle_list_black::before {background-color: #222;}
.ck-content .circle_list_purple::before {background-color: #660F89;} /* default */
.ck-content .circle_list_blue::before {background-color: #2A77C2;}
.ck-content .circle_list_pink::before {background-color: #BE0683;}

/* 구분 라인 */
hr {height:  1px; margin-bottom: 10px;}
.hr_gray_ee{ background-color: #eee;}
.hr_gray_d9{ background-color: #d9d9d9;}
.hr_gray_aa{ background-color: #aaa;}
.hr_purple{ background-color: var(--color-purple);}

/* 참고문헌 */
.ck-content .reference-list {
  margin-top: 30px;
  margin-left: 13px;
  margin-right: 13px;
}
.ck-content .sm-reference-list {
  margin-top: 30px;
}

.ck-content .reference-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #777;
  color: #fff;
  font-size: 9px;
  font-weight: 400;
  line-height: 9px;
  padding: 2px 5px;
  border-radius: 50px;
  margin-bottom: 15px;
  width: 53px;
}
.ck-content .reference-title{width: 100%; position: relative;}
.ck-content .reference-title::after {
  display: block;
  content: '';
  width: calc(100% - 53px);
  height: 1px;
  background-color: #e8e8e8;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.ck-content .reference-items {
  color: var(--Neutral-gray-77, #777);
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
}

.ck-content ol.reference-items{
  padding-left: 13px;
}

.ck-content .reference-items li {
  margin-bottom: 8px;
  color: var(--Neutral-gray-77, #777);
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
  padding-left: 3px;
}

.ck-content ol.reference-items li {
  list-style: decimal;
}

.ck-content .reference-items li::marker {
  color: var(--Neutral-gray-77, #777);
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -0.32px;
}

/* 이미지 가로 315px 이상 스크롤 생성 */
.ck-content .min-315 {
  min-width: 315px;
}
.ck-content .image-scroll {
  max-width: 100%;
  overflow-x: auto;
  text-align: center;
  padding-bottom: 30px;
  scrollbar-height: thin; /* Firefox 대응 */
}

/* 스크롤바 전체 영역 */
.ck-content .image-scroll::-webkit-scrollbar {
  height: 6px; /* 스크롤바 두께 */
}

/* 스크롤바 트랙 (배경) */
.ck-content .image-scroll::-webkit-scrollbar-track {
  background: #F6F6F6;
  border-radius: 4px;
}

/* 스크롤바 썸(움직이는 바) */
.ck-content .image-scroll::-webkit-scrollbar-thumb {
  background: #660F89;
  border-radius: 4px;
}

.ck-content .image-scroll .image-inner {
  display: inline-block; /* 이미지가 줄바꿈되지 않게 함 */
}

.ck-content .image-scroll .image-inner img {
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  display: block; /* 줄바꿈 공백 제거 */
}

.inline-block {
  display: inline-block;
}

/* faq */

 .faq__list:first-of-type.on {
  margin-top: -1px;
}
 .faq__question {
  padding: 14px 56px 14px 56px;
  position: relative;
  background-image: url(/static/images/user/common/sm_arrow_b_gray.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 34px) 19px;
  background-size: 15px 9px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.56px;
}
 .faq__list.on .faq__question {
  padding-bottom: 12px;
  background-image: url(/static/images/user/common/sm_arrow_t_gray.svg);
}
 .faq__question .label {
  margin-top: 7px;
}
 .faq__answer {
  padding: 14px 30px 16px 55.55px;
  position: relative;
  display: none;
  background-color: var(--neutral-gray-F6);
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.56px;
}
 .faq__list > div::before {
  display: block;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  left: 30px;
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  padding-bottom: 2px;
  padding-right: 1px;
}
 .faq__question::before {
  content: 'Q';
  top: 15px;
  background-color: var(--neutral-gray-55);
  font-size: 1rem;
}
 .faq__answer::before {
  background-color: var(--primary-pink);
  content: 'A';
  top: 17px;
  font-size: 1rem;
}

/* 이용약관 */
.ck-content .privacy-agreement.gray .title{
  color: var(--Neutral-gray-77, #777);
}
.ck-content .privacy-agreement.gray .description {
  color: var(--Neutral-gray-99, #999);
}
.ck-content .privacy-agreement.gray .table-a {
  border-top: 1px solid var(--Neutral-gray-77, #777);
}
.ck-content .privacy-agreement.gray .table-a thead th{
  color: var(--Neutral-gray-77, #777);
}
.ck-content .privacy-agreement.gray .table-a tbody td p.text{
  color: var(--Neutral-gray-99, #999);
}

.ck-content .privacy-agreement.black .title{
  color: var(--Neutral-black-22, #222);
}
.ck-content .privacy-agreement.black .description {
  color: var(--Neutral-black-22, #222);
}
.ck-content .privacy-agreement.black .table-a {
  border-top: 1px solid var(--Neutral-black-22, #222);
}
.ck-content .privacy-agreement.black .table-a thead th{
  color: var(--Neutral-black-22, #222);
  background: var(--Neutral-gray-F6, #F6F6F6);

}
.ck-content .privacy-agreement.black .table-a tbody td p.text{
  color: var(--Neutral-black-22, #222); 
}
.ck-content .privacy-agreement .title {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.48px;
}
.ck-content .privacy-agreement .description {
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.4px;
}

.ck-content .privacy-agreement .table-a thead th{padding: 10px 15px;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.4px;
}
.ck-content .privacy-agreement.gray .table-a thead th:nth-child(2) { min-width: 124px; width: 39.62%;}
.ck-content .privacy-agreement.black .table-a thead th:nth-child(2) { min-width: 185px; width: 55.224%;}

.ck-content .privacy-agreement .table-a tbody td p.text{
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.4px;
}

/* 이용약관 페이지 */
.ck-content.terms{
  color: #222;
}
.ck-content.terms h2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.48px;
}
.ck-content.terms{
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.48px;
}

.ck-content .notice-txt {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.4px;
}

.gray_box {
  border-radius: 10px;
  border: 1px solid var(--Neutral-gray-CC, #CCC);
  background: #F6F6F6;
  padding: 15px;
}

.gray_box .title {
  color: var(--Neutral-black-22, #222);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.64px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.gray_box .text {
  color: #555;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.48px;
}

.pl-25 {
  padding-left: 25px;
}
.pl-15 {
  padding-left: 15px;
}
.hangle-wrap {
  position: relative;
}
.hangle-wrap .hangle {
  position: absolute;
  top: 0;
  left: 0;
}
.hangle-wrap .check {
  position: absolute;
  top: 5px;
  left: 0;
}

/* grid */
.grid{
  display: grid;
}

.frame-4-6 {
  grid-template-columns: 4fr 6fr;
}

.list-box .list-title { padding: 12px 0; text-align: center;}
.list-box .list-contents {padding:20px;}
