/* main start */
/* main section01 */
.main {padding: 2.3rem 2rem 2.5rem 2rem;}
.main .circle { width: 1.8rem; height: 1.8rem; border-radius: 5rem; display: flex; align-items: center; justify-content: center; }
.main--search-header {position: absolute; top: -70px; left: 0; width: 100%; display: flex; align-items: center; height: 5rem; padding: 0rem 2rem; background: #fff; border-bottom: 1px solid #E3D9EA; z-index: 99; transition: top 0.3s ease;}
.main--search-header.active {top: 0;}
.main .section01 {margin-bottom: 4rem;}
.main .section01 h2 { font-weight: bold; line-height: 3rem; margin-bottom: 2rem; letter-spacing: -0.088rem;}
.main .section01 h2 span { color:var(--primary-purple);}
.main .section01 .content { display: flex; justify-content: center; gap: 0.8rem; color:#fff; flex-grow: 1;}
.main .section01 .content .left { background-color: var(--primary-purple); height: 18.9rem; border-radius: 1.5rem; padding: 1.6rem; position: relative; width: 48.96%;}
.main .section01 .content .left .illust { position: absolute; bottom: 0; right: 0;}
.main .section01 .content .right { width: 48.66%;}
.main .section01 .content .right .top{ background-color: #2A77C1; height: 11.4rem; border-radius: 1.5rem; padding: 1.6rem; margin-bottom: 0.8rem; position: relative;}
.main .section01 .content .right .bottom{ background-color: #424FAB; height: 6.7rem; border-radius: 1.5rem; padding: 1.6rem; position: relative;}
.main .section01 .content .left p,
.main .section01 .content .right p { font-weight: 900; font-size: 1.5rem; margin-top: 0.2rem; color: #fff;}
.main .section01 .content .right .top p { line-height: 1.95rem; letter-spacing: -0.64px;}
.main .section01 .content .right .bottom p{line-height: 1.92rem; letter-spacing: -0.64px;}
.main .section01 .content .circle { background-color: rgba(0, 0, 0, 0.2); position: absolute;}
.main .section01 .content .left .circle,
.main .section01 .content .right .top .circle { bottom: 1.6rem; left: 1.6rem;}
.main .section01 .content .right .top .illust { position: absolute; bottom: 1.6rem; right: 1.6rem;}
.main .section01 .content .right .bottom .circle { bottom: 1.6rem; right: 1.6rem; }
.main .section01 .content span { color: rgba(255, 255, 255, 0.6); font-weight: 400;}

/* main section02, main section03 */
.main .section02 {margin-bottom: 3.2rem;}
.main .section02 .sub_title,
.main .section03 .sub_title { padding: 0 1rem; margin-bottom: 1.2rem;}
.main .section02 .sub_title p,
.main .section03 .sub_title p { font-size: 1.8rem; font-weight: 700; letter-spacing: -0.09rem; color: #222;}
.main .section02 .sub_title .left,
.main .section03 .sub_title .left { gap: 1rem;}
 
.main .section02 .contents,
.main .section03 .contents { gap: 8px; align-self: stretch; }
.main .section02 .contents li,
.main .section03 .contents li { height: 100px; padding: 14px 0px; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow: 1; gap: 1rem; flex: 1 0 0; border-radius: 1.5rem; }
.main .section03 .contents { margin-bottom: 1.2rem;}
.main .section02 .contents li { background: #FFF8F6;}
.main .section03 .contents li { background: rgba(80, 131, 180, 0.05);}
.main .section02 .contents li a {width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 10px;}
.main .section03 .contents li a {width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 10px;}
.main .section03 .section03_sub{ border-radius: 15px;  height: 46px;  padding: 14px 20px; align-self: stretch;  background: #EFF2FC; font-size: 1.1rem; font-weight: 400; }
.main .section03 .section03_sub span { color:var(--primary-deep-blue); font-weight: 700;}
.main .section03 .section03_sub .circle { background-color: #424FAB;}
/* main end */

/* total search start */
.total-search {background-color: var(--primary-light-purple);}
.total-search .no-search-result {border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
.total-search .no-search-result.sp-77 {padding: 77px 0;}
.total-search .no-search-result.sp-185 {padding: 185px 0 184px 0; }
.total-search .no-search-result img{width:30px; height:30px;}
.search-header-wrap { position: fixed; top: 0; left: 0; right: 0; height: auto; color: white; display: flex; flex-direction: column;z-index: 999 ; transition: ease 0.1s;}
.search-result{ position: sticky; top: 0px; /* 헤더 높이만큼 고정 */ padding: 16px; background-color: #fff; font-weight: bold; padding: 10px 0; z-index: 999; transition: ease 0.3s;}
.search-result .container { padding: 3rem 2rem 13rem 2rem;}
.faq-list .search-result .container { padding: 3rem 0 12rem 0;}

/* .search-result .container section {margin-bottom: 3rem;} */
.search-result .container .tit {margin-bottom: 1.4rem;}
.search-result .container .tit p:first-child { color: #222; font-size: 1.8rem; font-style: normal; font-weight: 700; line-height: 1.8rem; letter-spacing: -0.72px; gap: 0.4rem;}
.search-result .container .tit p:last-child a{ color: var(--neutral-gray-88); font-size: 1.2rem; font-weight: 500; line-height: 1.2rem; letter-spacing: -0.48px;
}
.search-result .container .tit p:last-child del {display: inline-block; width: 1.8rem; height: 1.8rem; background: url(/src/main/resource/static/images/user/common/sm_arrow_r_gray.svg) no-repeat center center;}
.search-result .container .tit span { display: flex; width: 21px; height: 16px; padding: 3px 6px; justify-content: center; align-items: center; gap: 10px; border-radius: 900px; color: var(--neutral-fff); font-size: 9px; font-weight: 500; letter-spacing: -0.36px;}
.search-result .container .purple .tit span { background: var(--primary-purple);}
.search-result .container .blue .tit span { background: var(--primary-blue);}
.search-result .container .pink .tit span { background: var(--primary-pink);}
.search-result .container .search_list li{ border-bottom: 1px solid #eee; border-left: none; border-right: none; letter-spacing: -0.56px;}
.search-result .container .search_list li:first-child {border-top: 1px solid #eee;}
.search-result .container .search_list li { display: block; color: #444; font-size: 1.4rem; font-weight: 400; padding: 1.4rem 1rem;}
.search-result .container .search_list li span.purple-color,
.search-result .container .search_list li span.pink-color {font-size: 1.4rem; font-weight: 600; line-height: 1.5rem; letter-spacing: -0.56px;}
.search-result .container .search_list li .li-info {margin-bottom: 0.6rem;}
.search-result .container .search_list li .li-info .left {display: flex; gap: 4px; align-items: center;}
.search-result .container .search_list li .li-info .left span{font-size: 12px; font-weight: 500; line-height: 12px; letter-spacing: -0.48px; padding: 3px 8px 4px 8px;}
.search-result .container .search_list li .li-info .left .region {border-radius: 90px; background: rgba(42, 119, 193, 0.10);}
.search-result .container .search_list li .li-info .left .hospital {border-radius: 90px;}
.search-result .container .search_list li .li-info .left .hospital.gray-color {background: var(--neutral-gray-F6, #F6F6F6);}
.search-result .container .search_list li .li-info .left .hospital.color--deep-blue {background: rgba(66, 79, 171, 0.10);}
.warning_txt .ai {margin-right: 4px;}
.warning_txt_gray.middle::before{top:50%; left:6px; transform: translate(-50%, 0 );}
.ai {border-radius: 90px; padding: 3px 8px 4px 8px;}
.ai.pink-color{background: #BE06831A}
.search-result .container .search_list li .q {margin-bottom: 0.9rem;}
.search-result .container .search_list li .q,
.search-result .container .search_list li .a { display: flex;}
.search-result .container .search_list li .q del::before,
.search-result .container .search_list li .a del::before {content: ''; display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; border-radius: 100%; color: #fff; font-size: 1rem; font-weight: 700; line-height: 20px; letter-spacing: -0.4px;  margin-right: 0.6rem;}
.search-result .container .search_list li a .q del::before{content: 'Q'; background-color: var(--neutral-gray-55);}
.search-result .container .search_list li a .a del::before{content: 'A';  background-color: var(--primary-pink);}
.purple-color {color: var(--primary-purple);}
.blue-color{color: var(--primary-blue);}
.pink-color {color: var(--primary-pink);}
.gray-color {color: var(--neutral-gray-99);}
.search-footer {position: fixed; bottom: 0; z-index: 9999; width: 100%; height: 8.5rem; padding: 0px 10px 5px 10px; flex-shrink: 0;  background: #FFF; box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.08); transition: all 0.3s ease;}
.search-footer.is-radius {border-radius: 30px 30px 0px 0px;}
.search-footer li {width: 8.48rem;}
.search-footer li a { color: var(--neutral-gray-AA); gap: 0.6rem; font-weight: 500; letter-spacing: -0.5px;}
.search-footer li img[src*="purple"] {display: none;}
.search-footer li.on img[src*="gray"] {display: none;}
.search-footer li.on img[src*="purple"] {display: inline;}
/* total search end */

/* login start */
.login-wrap { position: relative;}
.login-wrap .login_bg_l { width: 60.8%; height: 19.19%; max-width: 47rem; max-height: 25.4rem; position: fixed; top: 0; left: 0; background: url(/src/main/resource/static/images/user/login/login_bg_left.svg) no-repeat; background-size: contain;  z-index: -1;}
.login-wrap .login_bg_r { width: 46.67%; height: 24.19%; max-width: 35rem; max-height: 32rem; position: fixed; bottom: 0; right: 0; background: url(/src/main/resource/static/images/user/login/login_bg_right.svg) no-repeat;  background-size: cover; }
.login-wrap .content { padding: 0 2rem;}
.login-wrap .content .login-title{ margin-top:15rem;}
.login-wrap .content .login-title .login_logo { width: 101px; height: 32px;}
.login-wrap .content p { font-weight: 700; line-height: 36px; letter-spacing: -0.96px; margin-bottom: 3rem; margin-left: 2rem;}
.login-wrap .content .login-form { margin-bottom: 9.6rem;}
.login-wrap .content .login-form .form-group:first-child{ margin-bottom: 0.8rem;}
.login-wrap .content .login-form .form-group:nth-child(2){ margin-bottom: 1.4rem;}
.login-wrap .content .login-form .check__group:first-child {margin-left: 2rem;}
.login-wrap .content .login-form .check__group {margin-bottom: 2.8rem;}
.login-wrap .content .login-form .check__group span { font-size: 12px; font-weight: 400; line-height: 12px; letter-spacing: -0.48px; color: #222;}
.login-wrap .content .login-form  .btn__box{ margin-bottom: 2.4rem;}
.form-links {width: 21.1rem; height: 1.7rem; display: flex; align-items: center; justify-content: space-between; margin: 0 auto; font-size: 1.2rem; font-weight: 400; letter-spacing: -0.48px;}
.form-links a { color: #888;}
.form-links span{ color: #888;}
.form-links a.color--primary {color: var(--primary-purple);}
/* login end */

/* FAQ start */
.tab__lists .tab-menu.active {opacity: 1;}
.tab__lists .tab-menu {opacity: 0.6; overflow: visible; white-space: nowrap;}
/* FAQ end */

/* 난임지원 병원찾기 start */
.infertility-assistance-title {padding: 0 2rem; font-weight: 700; line-height: 28px; letter-spacing: -0.8px; }
.infertility-assistance-list .no-search-result {padding: 95px 0 94px 0;}
.infertility-assistance-list .no-search-result img{width:30px; height:30px;}
.infertility-assistance-list .content .search-result .container .form__group {margin-bottom: 0.8rem;}
.infertility-assistance-list .content .search-result .container .search__box {margin-bottom: 4rem;}
.infertility-assistance-list .content .search-result .container .pagination ul li.active a {color: var(--primary-blue);}
.tag {font-weight: 500; line-height: 12px; letter-spacing: -0.48px; border-radius: 90px; display: inline-flex; height: 20px; padding: 3px 8px 4px 8px;}
.list_popup{width:100%; height: 100%; position: fixed; top: 0; left: 0; align-items: center; background: rgba(0, 0, 0, 0.70); z-index: 99999; display: flex; align-items: center; display: none;}
.list_popup .container {margin: 0 2rem; border-radius: 20px; position: relative;}
.list_popup .container .content{padding: 4rem 2rem 3rem 2rem;;}
.list_popup .container .content .title{ line-height: 28px; letter-spacing: -0.8px; margin-bottom: 1.5rem;}
.pop_close_btn {position: absolute; top: 0; right:0; width: 50px;  height: 50px;}
.call_number .icon_call {background: url(/src/main/resource/static/images/user/common/icon_call.svg) no-repeat center;}
.call_number {margin-bottom : 0.75rem;}
.location .icon_location{background: url(/src/main/resource/static/images/user/common/icon_location.svg) no-repeat center;}
.location .icon_copy {background: url(/src/main/resource/static/images/user/common/icon_copy.svg) no-repeat center;}
.call_number .icon_call,
.location .icon_location,
.location .icon_copy {width:1.6rem; height: 1.6rem; display:block;}
.find--center-map{width: 100%; height: 18.8rem;border-radius: 10px; border: 1px solid var(--primary-gray-e5, #E5E5E5); display: flex; align-items: center; justify-content: center; overflow: hidden;}
.find--center-map img{object-fit: cover; width: 100%; height: 100%;} 
/* 난임지원 병원찾기 end */

/* 난임지원 난임정책 start */
.infertility--policy section {padding: 0 2rem;}
.infertility--policy .txt_wrap {letter-spacing: -0.8px; margin-bottom: 3rem;}
.infertility--policy .infertility--policy-category {margin-bottom: 12.4rem;}
.infertility--policy .infertility--policy-category li {margin-bottom:2.1rem; }
.infertility--policy .infertility--policy-category li a {display: flex; align-items: center; gap: 1rem; color: #444; font-size: 1.6rem; font-weight: 600; letter-spacing: -0.64px;}
/* 난임지원 난임정책 end */

/* 난임지원 심리상담센터 start */
.pcc_address, 
.pcc_number { position: relative; display: flex; align-items: center; color: var(--Neutral-gray-77, #777); font-size: 13px; font-weight: 500; line-height: 20px; letter-spacing: -0.52px; gap: 6px;}
.pcc_address::before, 
.pcc_number::before{content: ''; display: block; width: 1.6rem; height: 1.6rem; background-size: cover;}
.pcc_address::before{background-image: url(/src/main/resource/static/images/user/infertility_assistance/icon_home.svg);}
.pcc_number::before{background-image: url(/src/main/resource/static/images/user/infertility_assistance/icon_call.svg );}

/* 난임지원 심리상담센터 end */

/* 난임지원 쉼터 start */
.shelter .section01 {margin: 0 2rem 3rem 2rem;}
.shelter .section02 {margin: 0 2rem 3rem 2rem;}
.shelter hr {width: 100%; height: 1px; background: #E5E5E5; margin: 3rem 0;}
.shelter .cheering-box {border-radius: 20px; background: rgba(42, 119, 193, 0.05); margin-bottom: 2rem;}
.shelter .cheering-box .contents {padding: 4rem 2rem 3rem 2rem;}
.swiper-button-prev,.swiper-button-next {left: auto; top: auto;}
.swiper-button-prev{right:6.6rem; bottom: 3rem;  width: 3rem; height: 3rem;}
.swiper-button-next{right:2rem; bottom: 3rem;  width: 3rem; height: 3rem;}
.swiper-button-prev:after, .swiper-button-next:after{content:''; width: 3rem; height: 3rem;}
.swiper-button-prev:after {background: url(/src/main/resource/static/images/user/common/slide_left_blue_border.svg);}
.swiper-button-next:after {background: url(/src/main/resource/static/images/user/common/slide_right_blue.svg);}
.delete_comment {border-radius: 10px; border: 1px solid var(--Neutral-gray-BB, #BBB);display: inline-flex; height: 18px; padding: 4px 10px; justify-content: center; align-items: center; gap: 10px; flex-shrink: 0;color: var(--Neutral-gray-99, #999); font-size: 10px; font-weight: 400; line-height: 10px; letter-spacing: -0.4px; margin-top: 8px;}
/* 난임지원 쉼터 end */

/* 아이디찾기 start */
.title__box { display: block; width: calc(100% - 8.8rem); text-align: center;}
.sub01 .content .container {padding: 10rem 2rem 5rem 2rem;}
.sub01 .content .container .check_box {margin-bottom: 5rem;}
.sub01 .content .container p {line-height: 36px;  letter-spacing: -0.96px;}
.sub01 .content .container .form__box {margin-bottom: 23rem;}
/* 아이디찾기 end */

/* 비밀번호 재설정 start */
.sub02 .content .container {padding: 4rem 2rem 5rem 2rem;}
.sub02 .content .container .title {margin-bottom: 1.2rem; letter-spacing: -0.8px;}
.sub02 .content .container .sub_title {margin-bottom: 2.1rem; line-height: 22px; letter-spacing: -0.56px;}
.sub02 .content .container .form__box {margin-bottom: 43rem;}
/* 비밀번호 재설정 end */

/* 비밀번호 재설정 휴대폰 인증 start */
.sub03 .content .container {padding: 4rem 2rem 5rem 2rem;}
.sub03 .content .container .title_wrap {padding: 0 1.5rem;}
.sub03 .content .container .title_wrap .title {margin-bottom: 1.2rem; letter-spacing: -0.8px;}
.sub03 .content .container .title_wrap .sub_title {margin-bottom: 2.1rem; line-height: 22px; letter-spacing: -0.56px;}
.sub03 .content .container .form_wrap .form__box:first-child{margin-bottom: 0.8rem;}
.sub03 .content .container .form_wrap .form__box:nth-child(2){margin-bottom: 1rem;}
.sub03 .content .container .form_wrap .info {line-height: 16px; letter-spacing: -0.4px; display: flex; gap: 0.8rem;}
.sub03 .content .container .form_wrap .info::before {content: ''; display: block; width: 4px; height: 4px; border-radius: 100%; background-color: #660F89; margin-top: 6px;}
.sub03 .content .container .form_wrap{margin-bottom: 43rem;}
/* 비밀번호 재설정 휴대폰 인증 end */

/* 마이페이지 start */
.mypage .content .container {padding: 6.4rem 2rem 13rem 2rem;}
.mypage .content .container .l-banner{border-radius: 15px; position: relative; margin-bottom: 1rem;}
.mypage .content .container .l-banner .l-banner-box{padding: 1.6rem 1.6rem 2rem 1.6rem;}
.mypage .content .container .l-banner .l-banner-box .l-banner-icon{margin-bottom: 0.6rem;}
.mypage .content .container .l-banner .l-banner-box .txt {line-height: 22px; letter-spacing: -0.64px;text-transform: uppercase; margin-bottom: 0.4rem;}
.mypage .content .container .l-banner .l-banner-box .sub_txt {color: rgba(255, 255, 255, 0.80); line-height: 120%; letter-spacing: -0.4px;}
.mypage .content .container .l-banner .illust {position: absolute; bottom: 0; right: 2rem;}
.mypage .content .container .sm-banner{border-radius: 15px; margin-bottom: 4rem;}
.mypage .content .container .sm-banner .sm-banner-contents{ padding: 1.4rem 1.8rem;}
.mypage .content .container .sm-banner .sm-banner-contents .txt_wrap{ letter-spacing: -0.55px;}
.mypage .content .container .mypage_category {margin-bottom: 21.6rem;}
.mypage .content .container .mypage_category .info_admin {padding: 0 2rem;}
.mypage .content .container .mypage_category hr { width: 100%; height: 1px; background:#EEE; margin:3rem 0}
.mypage .content .container .mypage_category p { color: #999; font-size: 12px; font-weight: 700; letter-spacing: -0.24px; margin-bottom: 1.6rem;}
.mypage .content .container .mypage_category ul li {margin-bottom: 1.8rem; display: flex; width: 100%; justify-content: space-between; position: relative;}
.mypage .content .container .mypage_category ul li::after {content:''; display: block; width: 24px; height: 24px; background: url(/src/main/resource/static/images/user/common/arrow_r_gray.svg) no-repeat right; background-position: contain; position: absolute; top: 50%; right: 0; transform: translate(0, -50%);}
.mypage .content .container .mypage_category ul li a{color: #222; font-size: 14px; font-weight: 700; letter-spacing: -0.56px; width: 100%; height: 100%;}
/* 마이페이지 end */

/* 마이페이지 - 비밀번호 확인 start */
.sub04 .content .container {padding: 4rem 2rem 5rem 2rem;}
.sub04 .content .container .title_wrap {padding: 0 1.5rem;}
.sub04 .content .container .title_wrap .title {letter-spacing: -0.8px;}
.sub04 .content .container .title_wrap .sub_title {margin-bottom: 2.1rem; line-height: 22px; letter-spacing: -0.56px;}
.sub04 .content .container .form_wrap .form__box:first-child{margin-bottom: 0.8rem;}
.sub04 .content .container .form_wrap .form__box:nth-child(2){margin-bottom: 1rem;}
.sub04 .content .container .form_wrap .info {line-height: 16px; letter-spacing: -0.4px; display: flex; gap: 0.8rem;}
.sub04 .content .container .form_wrap .info::before {content: ''; display: block; width: 4px; height: 4px; border-radius: 100%; background-color: #660F89; margin-top: 6px;}
.sub04 .content .container .form_wrap{margin-bottom: 43rem;}
/* 마이페이지 - 비밀번호 확인 end */

/* 마이페이지 - 비밀번호 확인 start */
.sub05 .content .container {padding: 3rem 2rem 5rem 2rem;}
.sub05 .content .container .title_wrap .title {margin-bottom: 2.2rem; letter-spacing: -0.8px;}
.sub05 .content .container .edit_profile {margin-bottom: 15rem;}
.sub05 .content .container .edit_profile .sub_title{ color: var(--Neutral-black-22, #222); font-size: 16px; font-weight: 700; letter-spacing: -0.64px; display: flex; align-items: center; gap:4px;}
.sub05 .content .container .edit_profile .sub_title::after {content: ''; display: block; width: 12.766px; height: 10px; background: url(/src/main/resource/static/images/user/common/check.svg) no-repeat; background-size: cover;}

/* 마이페이지 - 비밀번호 확인 end */
/* 마이페이지 - 나의 가임건강 체크 start */
.reproductive-health-text {padding: 0 20px;}
.reproductive-health-text .sub-text { line-height: 22px; letter-spacing: -0.56px;}
.reproductive-health-text .logo {width: 120px; height: 38px; margin-bottom: 12px;}
.sub08 .content .container {padding: 10rem 2rem 5rem 2rem;}
.sub08 .content .container .title_wrap {padding:  0 20px; margin-bottom: 3rem;}
.personal_info_box { border-radius: 20px; border: 1px solid #660F89; padding: 2rem;}
.check_contents .check_list li{border-radius: 10px; background: rgba(93, 30, 126, 0.05);padding: 14px 20px; letter-spacing: -0.52px; margin-bottom: 10px;}
.check_contents .check_list li:last-child{margin-bottom: 0;}
.check_contents .check_list li .left .check_list_index{color: #660F89; font-size: 13px; font-weight: 700;}
.check_contents .check_list li .left .check_list_date{color: var(--Neutral-black-22, #222); font-size: 13px; font-weight: 500; margin: 0 4px 0 6px;}
.check_contents .check_list li .left .check_list_time{color: var(--Neutral-gray-99, #999); font-size: 13px; font-weight: 500;}
.non--check-list{ width: 100%; height:339px; border-radius: 15px; text-align: center; padding-top: 8rem;}
.non--check-result-list{ width: 100%; height:436px; border-radius: 15px; text-align: center; padding-top: 16rem;}
.sub06 .container {padding: 0rem 2rem;}
.sub06 .container .title_wrap {padding: 0 2rem;}
/* 마이페이지 - 나의 가임건강 체크 end */

/* 마이페이지 - 나의 가임건강 체크 결과 start */
.sub07 .content .container {padding: 3rem 2rem 5rem 2rem;}
.check__result_header {margin-bottom: 12px;}
.check__result_header .title{width: calc(100% - 40px); display: flex; justify-content: center;}
.check__result_sub_title{color: rgba(255, 255, 255, 0.50); text-align: center; font-size: 14px; font-weight: 400; line-height: 22px; letter-spacing: -0.56px;}
.check__result_popup_text{color: var(--Neutral-gray-77, #777); font-size: 10px; font-weight: 400; line-height: 18px; letter-spacing: -0.4px; width: 100%; max-height: 425px; overflow-y: scroll; padding-left: 14px;}
.check__result_popup_text li {list-style: decimal!important;}
.ai_tap{display: flex; align-items: center; justify-content: left; gap: 6px; margin-top: 1rem; margin-left: 25px; height: 34px;}
.ai_tap02{display: flex; align-items: center; justify-content: left; gap: 6px; margin-top: 1rem; margin-left: 15px; overflow-x: scroll; height: 38px; margin-right: 15px; height: 34px}
.ai_tap li,
.ai_tap02 li { display: flex ;align-items: center; height: 100%;}
.check__result_tap{display: flex; align-items: center; justify-content: center; gap: 10px; margin-top: 1rem; }
.check__result_tap li {height: 100%;}
.ai_tap li a,
.ai_tap02 li a,
.check__result_tap li a{padding: 10px 20px; border-radius: 50px; border: 1px solid var(--Neutral-gray-E8, #E8E8E8); background: #FFF; font-weight: 400; font-size: 12px; line-height: 14px; letter-spacing: -0.44px; white-space: nowrap; display: block;} 
.ai_tap li a.active,
.ai_tap02 li a.active,
.check__result_tap li a.active{border-radius: 50px; background: var(--primary-purple, #660F89); border:1px solid #660F89; color: #FFF; font-size: 12px; font-weight: 600; line-height: 14px; letter-spacing: -0.44px;}
.ai_tap_4depth{ width: 100%; height: 46px; display: flex; align-items: center; justify-content: left; padding: 0 30px; background: #fff; margin-top: 20px; gap: 20px;}
.ai_tap_4depth li a{ color: var(--primary-purple, #660F89); font-size: 12px; font-weight: 600; line-height: 18px; letter-spacing: -0.48px; opacity: 0.6; padding-bottom: 3px;} 
.ai_tap_4depth li a.active{color: var(--primary-purple, #660F89); font-size: 12px; font-weight: 700; line-height: 18px; letter-spacing: -0.48px; opacity: 1; border-bottom: 1px solid #660F89;}

.check__result_box {border-radius: 20px;background: #F7F3F8; display: flex; align-items: center;justify-content: center; padding: 25px 0 23px 0; margin-bottom: 40px;line-height: 32px; letter-spacing: -0.8px;}
.normalweight_wrap{margin-bottom: 205px;}
.normalweight_wrap .title {text-align: center; line-height: 24px; letter-spacing: -0.8px;}
.normalweight_wrap .contents{line-height: 22px; letter-spacing: -0.56px;}
.normal_weight_illustration { width: 163.356px; height: 154px; position: absolute; bottom: 86px; left: 36%;}
/* .underweight {display: none;} */
.underweight_wrap .underweight--list {margin-bottom: 2rem;} 
.underweight_wrap .underweight--list:last-child{margin-bottom: 0;}
.underweight_wrap .underweight--list .title {margin-bottom: 1.4rem; display: flex; align-items: center; gap: 11.51px; letter-spacing: -0.56px;}
.underweight_wrap .underweight--list .title::before {display: block; content: ''; width: 11.489px; height: 9px; background: url(/src/main/resource/static/images/user/common/check.svg); margin-left: 1rem; background-size: cover;}
.underweight_wrap .underweight--list .contents {padding: 2rem;  border-radius: 20px; line-height: 20px; letter-spacing: -0.48px;}
.underweight_wrap .sub_warning {margin: 0 10px 30px 10px ;}
table.table-d {width: 100%;border-collapse: collapse;border-top: 1px solid var(--primary-purple);}
table.table-d thead th {background-color: #F7F3F8;padding: 11px;text-align: center;color: var(--primary-purple);font-weight: bold;border-bottom: 1px solid #D9D9D9;font-size: 12px;}
table.table-d tbody td {vertical-align: top;border-bottom: 1px solid #D9D9D9;}
table.table-d tbody td:nth-child(1) {width: 72%;padding: 10px 5px 10px 10px;font-weight: bold;color: #333;}
table.table-d tbody td:nth-child(2) {width: 28%;padding: 10px 10px 5px 10px;color: #666;font-size: 13px;}
.range {text-align: center;color: #333;font-weight: 500;vertical-align: middle;}
.box-color {padding:  2rem 1rem; border-radius: 2rem;}
.box-color .title{ padding: 4.5px 10px; border-radius: 10px;}
.box-color .txt {line-height: 20px; letter-spacing: -0.48px;}
.box-color .contents li{display: flex; margin-bottom: 12px; gap: 12px;}
.box-color .contents li p:last-child{width: 78.98%;}
.box-color .contents li p:last-child span {letter-spacing: -0.4px; white-space:nowrap;}
.balloon-text-blue { width: 22.03%; max-width: 65px; border-radius: 20px;  height: 24px; background: rgba(42, 119, 193, 0.10);}
/* 마이페이지 - 나의 가임건강 체크 결과 start */

/* 병원 방문 준비하기 start */
.before--bisiting-wrap {padding-top: 40px;}
.before--bisiting-wrap .check--list .check--list-txt{padding: 0 10px;}
.before--bisiting-wrap .check--list .check--list-txt .check-blue{ font-weight: 600; color: #222; display: flex; align-items: center; gap: 8.23px;}
.before--bisiting-wrap .check--list .check--list-txt .check-blue::before { display: block; content: ''; width: 12.766px; height: 10px; background: url(/src/main/resource/static/images/user/common/check_deep_blue.svg); background-size: cover;}
.before--bisiting-wrap .check--list .accordian__question {background-position: calc(100% - 30px) 0; padding-bottom: 14px;}
.before--bisiting-wrap .check--list::after {content: ''; display: block; width: calc(100% - 40px); height: 1px; background-color: #eee; margin-bottom: 14px; margin: 0 auto 14px auto;}
.before--bisiting-wrap .check--list.on::after{visibility: hidden;}
.before--bisiting-wrap .check--list .check__group .checkbox03 + label::before {left: 30px;}
.before--bisiting-wrap .check__group .checkbox03 + label .accordian__question--category {padding-left: 54px;}
.before--bisiting-wrap .check--list .accordian__question .checkbox4 {padding: 0 30px;}
/* 병원 방문 준비하기 end */

/* 회원탈퇴 start */
.withdraw-reason-textarea {width:100%; height:100%; min-height: 166px; border-radius: 15px; border: 1px solid var(--primary-gray-e5, #E5E5E5); padding: 1.6rem 2.5rem; margin-bottom: 2rem; display: none;}
.withdraw-reason-textarea.color--gray99::placeholder {color: #999;}
/* 회원탈퇴 end */

/* 난임시술 쉽게 이해하기기 start */
.infertility-guide-simple .search-result .container { padding: 0rem 2rem 13rem 2rem;}
.tab__b { display: flex; gap: 5px; margin-top: 10px; margin-bottom: 30px;}
.tab__b .btn {width: 100%; display: flex; justify-content: center; align-items: center; border-radius: 50px; padding: 10px 16px; color: #222; font-weight: 400; border: 1px solid var(--Neutral-gray-E8, #E8E8E8); font-size: 12px;}
.tab__b .btn.on { background-color: var(--primary-blue); color: #fff; font-weight: 600;}
.tab-panel {display: none;}
.panel section {border-radius: 10px;}
.panel section .title {border-radius: 10px; padding: 11px 0;}
.panel .box-shadow  {box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);}
.panel .box_container{padding: 20px 10px;}
.panel.active {display: block;}
.step-wrapper {position: relative;}
.step-line { position: absolute; top: 39px; bottom: 0; left: 15px; width: 1px; background-color: #ccc; z-index: 0; max-height: 233px;}
.infertility-step-list { list-style: none; padding: 0; margin: 0;}
.box-shadow .step-item { position: relative; display: flex; align-items: flex-start; margin-bottom: 14px;}
.box-shadow .step-item:last-child {margin-bottom: 0;}
.box-shadow .step-item .box { width: 100%; border-radius: 10px; border: 1px solid var(--Neutral-gray-E5, #E5E5E5); margin-left: 42px; padding: 12px 15px ; gap: 10px;}
.ai-section02 .step-item {background-color: #fff; border-radius: 10px; margin-bottom: 0;}
.ai-section02 .step-item .box { width: 100%; border-radius: 10px; padding: 12px 15px ; gap: 10px;}
.step-dot { position: absolute; left: 10px; top: 50%; width: 12px; height: 12px; background-color: #ccc; border-radius: 50%; z-index: 1; transform: translate(0, -50%);}
.step-icon { width: 44px; height: 40px; flex-shrink: 0; display: flex; align-items: center; justify-content: center;}
.step-content { flex: 1; justify-content: space-between;}
.step-text { font-size: 14px; line-height: 16px; font-weight: 500; letter-spacing: -0.56px;}
.step-detail-link { font-size: 10px; line-height: 10px; font-weight: 500; letter-spacing: -0.4px; display: flex; align-items: center;}
.step-detail-link::after { content:''; display: inline-block; width: 4px; height: 6px; background-size: cover!important; margin-left: 7px;}
.step-detail-link.color--gray88::after {background: url('/src/main/resource/static/images/user/common/sm_arrow_r_gray.svg') no-repeat center;}
.step-detail-link.color--blue::after {background: url('/src/main/resource/static/images/user/common/sm_arrow_r_blue.svg') no-repeat center;}
.check_icon::before { display: block; content: ''; width: 12.766px; height: 10px; background: url(/src/main/resource/static/images/user/common/check_blue.svg); background-size: cover; margin-right: 8px;}
.step-note { margin-top: 8px; text-align: center;}
.arrow_b_blue { width: 100%; height: 20px; display: flex; justify-content: center; align-items: center; background: url(/src/main/resource/static/images/user/common/arrow_b_blue.svg) no-repeat center;}
.arrow_b_purple { width: 100%; height: 20px; display: flex; justify-content: center; align-items: center; background: url(/src/main/resource/static/images/user/common/arrow_b_purple.svg) no-repeat center;}
.ai-section02 {background: rgba(42, 119, 194, 0.05);}
.tab-panel .noti {margin: 0 10px;  line-height: 16px; letter-spacing: -0.4px;}
.ai-section03 {background: rgba(102, 15, 137, 0.05);}
.ai-section03 .title {background: rgba(102, 15, 137, 0.10); text-align: center ;}
.ai-section03 .step-item {background-color: #fff; border-radius: 10px; margin-bottom: 0;}
.ai-section03 .step-item .box { width: 100%; border-radius: 10px; padding: 12px 15px; gap: 10px;}
/* 자식 탭 버튼 스타일 */
.sub-tab__b {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sub-tab__b .btn { width: 100%; display: flex; justify-content: center; align-items: center; border-radius: 50px; padding: 10px 16px; color: #222; font-weight: 400; border: 1px solid var(--Neutral-gray-E8, #E8E8E8); background-color: #fff; font-size: 12px;}

.sub-tab__b .btn.on {
  background-color: var(--primary-purple); /* 기존 테마 색상과 통일 */
  color: #fff;
  font-weight: 600;
}

/* 자식 탭 패널 기본 숨김 */
.sub-tab-panel {
  display: none;
}

/* 활성화된 자식 탭 패널 */
.sub-tab-panel.active {
  display: block;
}
/* 난임시술 쉽게 이해하기 end */

/* 약관 및 개인정보 처리 동의 start */
.agreements-wrap {padding: 0 2rem;}
.agreement-list li {
  margin-bottom: 14px;
}
.agreement-list li:last-child {
  margin-bottom: 0;
}
.agreement-list li a {
  color: #222;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.agreement-list li a::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(/src/main/resource/static/images/user/common/arrow_r_gray.svg) no-repeat center;
}
.agreement-list li p {
  color: var(--Neutral-gray-88, #888);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
}
/* 약관 및 개인정보 처리 동의 end */