/* main start */
/* main section01 */
.main {padding: 2.3rem 2rem 2.5rem 2rem;}
.main .circle { width: 1.8rem; height: 1.8rem; border-radius: 5rem; display: flex; align-items: center; justify-content: center; }
.main .section01 {margin-bottom: 4rem;}
.main .section01 h2 { font-weight: bold; line-height: 3rem; margin-bottom: 2rem; letter-spacing: -0.088rem;}
.main .section01 h2 span { color:var(--primary-purple);}
.main .section01 .content { display: flex; justify-content: center; gap: 0.8rem; color:#fff; flex-grow: 1;}
.main .section01 .content .left { background-color: var(--primary-purple); height: 18.9rem; border-radius: 1.5rem; padding: 1.6rem; position: relative; width: 48.96%;}
.main .section01 .content .left .illust { position: absolute; bottom: 0; right: 0;}
.main .section01 .content .right { width: 48.66%;}
.main .section01 .content .right .top{ background-color: #2A77C1; height: 11.4rem; border-radius: 1.5rem; padding: 1.6rem; margin-bottom: 0.8rem; position: relative;}
.main .section01 .content .right .bottom{ background-color: #424FAB; height: 6.7rem; border-radius: 1.5rem; padding: 1.6rem; position: relative;}
.main .section01 .content .left p,
.main .section01 .content .right p { font-weight: 900; font-size: 1.5rem; margin-top: 0.2rem;}
.main .section01 .content .right .top p { line-height: 1.95rem; letter-spacing: -0.64px;}
.main .section01 .content .right .bottom p{line-height: 1.92rem; letter-spacing: -0.64px;}
.main .section01 .content .circle { background-color: rgba(0, 0, 0, 0.2); position: absolute;}
.main .section01 .content .left .circle,
.main .section01 .content .right .top .circle { bottom: 1.6rem; left: 1.6rem;}
.main .section01 .content .right .top .illust { position: absolute; bottom: 1.6rem; right: 1.6rem;}
.main .section01 .content .right .bottom .circle { bottom: 1.6rem; right: 1.6rem; }
.main .section01 .content span { color: rgba(255, 255, 255, 0.6); font-weight: 400;}

/* main section02, main section03 */
.main .section02 {margin-bottom: 3.2rem;}
.main .section02 .sub_title,
.main .section03 .sub_title { padding: 0 1rem; margin-bottom: 1.2rem;}
.main .section02 .sub_title p,
.main .section03 .sub_title p { font-size: 1.8rem; font-weight: 700; letter-spacing: -0.09rem;}
.main .section02 .sub_title .left,
.main .section03 .sub_title .left { gap: 1rem;}

.main .section02 .contents,
.main .section03 .contents { gap: 8px; align-self: stretch; }
.main .section02 .contents li,
.main .section03 .contents li { height: 100px; padding: 14px 0px; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow: 1; gap: 1rem; flex: 1 0 0; border-radius: 1.5rem; }
.main .section03 .contents { margin-bottom: 1.2rem;}
.main .section02 .contents li { background: #FFF8F6;}
.main .section03 .contents li { background: rgba(80, 131, 180, 0.05);}
.main .section03 .section03_sub{ border-radius: 15px;  height: 46px;  padding: 14px 20px; align-self: stretch;  background: #EFF2FC; font-size: 1.1rem; font-weight: 400; }
.main .section03 .section03_sub span { color:#3C4690; font-weight: 700;}
.main .section03 .section03_sub .circle { background-color: #3C4690;}
/* main end */

/* total search start */
.total-search {background-color: var(--primary-light-purple);}
.search-header-wrap { position: fixed; top: 0; left: 0; right: 0; height: auto; color: white; display: flex; flex-direction: column;z-index: 9999; transition: ease 0.1s;}
.spacer {height: 15.1rem;}
.search-result{ position: sticky; top: 0px; /* 헤더 높이만큼 고정 */ padding: 16px; background-color: #fff; font-weight: bold; padding: 10px 0; z-index: 999; transition: ease 0.3s;}
.search-result .container { padding: 4rem 2rem 12rem 2rem;}
.faq-list .search-result .container { padding: 4rem 0 12rem 0;}

.search-result .container section {margin-bottom: 3rem;}
.search-result .container .tit {margin-bottom: 1.4rem;}
.search-result .container .tit p:first-child { color: #222; font-size: 1.8rem; font-style: normal; font-weight: 700; line-height: 1.8rem; letter-spacing: -0.72px; gap: 0.4rem;}
.search-result .container .tit p:last-child a{ color: var(--neutral-gray-88); font-size: 1.2rem; font-weight: 500; line-height: 1.2rem; letter-spacing: -0.48px;
}
.search-result .container .tit p:last-child del {display: inline-block; width: 1.8rem; height: 1.8rem; background: url(/src/main/resource/static/images/user/common/sm_arrow_r_gray.svg) no-repeat center center;}
.search-result .container .tit span { display: flex; width: 21px; height: 16px; padding: 3px 6px; justify-content: center; align-items: center; gap: 10px; border-radius: 900px; color: var(--neutral-fff); font-size: 9px; font-weight: 500; letter-spacing: -0.36px;}
.search-result .container .purple .tit span { background: var(--primary-purple);}
.search-result .container .blue .tit span { background: var(--primary-blue);}
.search-result .container .pink .tit span { background: var(--primary-pink);}
.search-result .container .search_list li{ border-bottom: 1px solid #eee; border-left: none; border-right: none; letter-spacing: -0.56px;}
.search-result .container .search_list li:first-child {border-top: 1px solid #eee;}
.search-result .container .search_list li a { display: block; color: #444; font-size: 1.4rem; font-weight: 400; padding: 1.4rem 1rem;}
.search-result .container .search_list li a span {font-size: 1.4rem; font-weight: 600; line-height: 1.5rem; letter-spacing: -0.56px;}
.search-result .container .search_list li a .li-info {margin-bottom: 0.6rem;}
.search-result .container .search_list li a .li-info .left span{font-size: 12px; font-weight: 500; line-height: 12px; letter-spacing: -0.48px; padding: 3px 8px 4px 8px;}
.search-result .container .search_list li a .li-info .left .region {border-radius: 90px; background: rgba(42, 119, 193, 0.10);}
.search-result .container .search_list li a .li-info .left .hospital {border-radius: 90px; background: var(--neutral-gray-F6, #F6F6F6);}
.search-result .container .search_list li a .q {margin-bottom: 0.9rem;}
.search-result .container .search_list li a .q,
.search-result .container .search_list li a .a { display: flex;}
.search-result .container .search_list li a .q del::before,
.search-result .container .search_list li a .a del::before {content: ''; display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; border-radius: 100%; color: #fff; font-size: 1rem; font-weight: 700; line-height: 20px; letter-spacing: -0.4px;  margin-right: 0.6rem;}
.search-result .container .search_list li a .q del::before{content: 'Q'; background-color: var(--neutral-gray-55);}
.search-result .container .search_list li a .a del::before{content: 'A';  background-color: var(--primary-pink);}
.purple-color {color: var(--primary-purple);}
.blue-color{color: var(--primary-blue);}
.pink-color {color: var(--primary-pink);}
.gray-color {color: var(--neutral-gray-99);}
.search-footer {position: fixed; bottom: 0; z-index: 9999; width: 100%; height: 8.5rem; padding: 0px 10px 5px 10px; flex-shrink: 0;  background: #FFF; box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.08); transition: all 0.3s ease;}
.search-footer.is-radius {border-radius: 30px 30px 0px 0px;}
.search-footer li {width: 8.48rem;}
.search-footer li a {  color: var(--neutral-gray-AA); gap: 0.6rem; font-weight: 500; letter-spacing: -0.5px;}
/* total search end */

/* login start */
.login-wrap { position: relative;}
.login-wrap .footer {margin-bottom: 3.7rem;}
.login-wrap .login_bg_l { width: 60.8%; height: 19.19%; max-width: 47rem; max-height: 25.4rem; position: fixed; top: 0; left: 0; background: url(/src/main/resource/static/images/user/login/login_bg_left.svg) no-repeat; background-size: cover;  }
.login-wrap .login_bg_r { width: 46.67%; height: 24.19%; max-width: 35rem; max-height: 32rem; position: fixed; bottom: 0; right: 0; background: url(/src/main/resource/static/images/user/login/login_bg_right.svg) no-repeat;  background-size: cover; }
.login-wrap .content { padding: 0 2rem;}
.login-wrap .content img { margin-top: 15.7rem; margin-bottom: 2.2rem; margin-left: 2rem; }
.login-wrap .content p { font-weight: 700; line-height: 36px; letter-spacing: -0.96px; margin-bottom: 3rem; margin-left: 2rem;}
.login-wrap .content .login-form { margin-bottom: 9.6rem;}
.login-wrap .content .login-form .form-group:first-child{ margin-bottom: 0.8rem;}
.login-wrap .content .login-form .form-group:nth-child(2){ margin-bottom: 1.4rem;}
.login-wrap .content .login-form .check__group {margin-left: 2rem; margin-bottom: 2.8rem;}
.login-wrap .content .login-form .check__group span { font-size: 12px; font-weight: 400; line-height: 12px; letter-spacing: -0.48px; color: #222;}
.login-wrap .content .login-form  .btn__box{ margin-bottom: 2.4rem;}
.form-links {width: 21.1rem; height: 1.7rem; display: flex; align-items: center; justify-content: space-between; margin: 0 auto; font-size: 1.2rem; font-weight: 400; letter-spacing: -0.48px;}
.form-links a { color: #888;}
.form-links span{ color: #888;}
.form-links a.color--primary {color: var(--primary-purple);}
/* login end */

/* FAQ start */
.tab__lists .tab-menu.active {opacity: 1;}
.tab__lists .tab-menu {opacity: 0.6; overflow: visible; white-space: nowrap;}
/* FAQ end */

/* 난임지원 병원찾기 start */
.infertility-assistance-title {padding: 0 2rem; font-weight: 700; line-height: 28px; letter-spacing: -0.8px; margin-bottom: 2rem;}
.infertility-assistance-list .content .search-result .container .form__group {margin-bottom: 0.8rem;}
.infertility-assistance-list .content .search-result .container .search__box {margin-bottom: 4rem;}
.infertility-assistance-list .content .search-result .container .pagination ul li.active a {color: var(--primary-blue);}
.tag {font-weight: 500; line-height: 12px; letter-spacing: -0.48px; border-radius: 90px; display: inline-flex; height: 20px; padding: 3px 8px 4px 8px; margin-bottom: 0.6rem;}
.list_popup{width:100%; height: 100%; position: fixed; top: 0; left: 0; align-items: center; background: rgba(0, 0, 0, 0.70); z-index: 99999; display: flex; align-items: center; display: none;}
.list_popup .container {margin: 0 2rem; border-radius: 20px; position: relative;}
.list_popup .container .wrap{padding: 4rem 2rem 3rem 2rem;;}
.list_popup .container .wrap .title{ line-height: 28px; letter-spacing: -0.8px; margin-bottom: 1.5rem;}
.pop_close_btn {position: absolute; top: 0; right:0; width: 50px;  height: 50px;}
.call_number .icon_call {background: url(/src/main/resource/static/images/user/common/icon_call.svg) no-repeat center;}
.call_number {margin-bottom : 0.75rem;}
.location .icon_location{background: url(/src/main/resource/static/images/user/common/icon_location.svg) no-repeat center;}
.location .icon_copy {background: url(/src/main/resource/static/images/user/common/icon_copy.svg) no-repeat center;}
.call_number .icon_call,
.location .icon_location,
.location .icon_copy {width:1.6rem; height: 1.6rem; display:block;}
.find--center-map{width: 100%; height: 18.8rem;border-radius: 10px; border: 1px solid var(--primary-gray-e5, #E5E5E5); display: flex; align-items: center; justify-content: center;}
/* 난임지원 병원찾기 end */

/* 난임지원 난임정책 start */
.infertility--policy section {padding: 0 2rem;}
.infertility--policy .txt_wrap {line-height: 28px; letter-spacing: -0.8px; margin-bottom: 4rem;}
.infertility--policy .infertility--policy-category {margin-bottom: 12.4rem;}
.infertility--policy .infertility--policy-category li {margin-bottom:2.1rem; }
.infertility--policy .infertility--policy-category li a {display: flex; align-items: center; gap: 1rem; color: #444; font-size: 1.6rem; font-weight: 600; letter-spacing: -0.64px;}
/* 난임지원 난임정책 end */

/* 난임지원 쉼터 start */
.shelter .section01 {margin: 0 2rem 3rem 2rem;}
.shelter .section02 {margin: 0 2rem 3rem 2rem;}
.shelter hr {width: 100%; height: 1px; background: #E5E5E5; margin: 3rem 0;}
.shelter .cheering-box {border-radius: 20px; background: rgba(42, 119, 193, 0.05); margin-bottom: 2rem;}
.shelter .cheering-box .contents {padding: 4rem 2rem 3rem 2rem;}
/* 난임지원 쉼터 end */

/* 아이디찾기 start */
.title__box { display: block; width: calc(100% - 8.8rem); text-align: center;}
.sub01 .content .container {padding: 10rem 2rem 5rem 2rem;}
.sub01 .content .container .check_box {margin-bottom: 5rem;}
.sub01 .content .container p {line-height: 36px;  letter-spacing: -0.96px;}
.sub01 .content .container .form__box {margin-bottom: 23rem;}
/* 아이디찾기 end */

/* 비밀번호 재설정 start */
.sub02 .content .container {padding: 4rem 2rem 5rem 2rem;}
.sub02 .content .container .title {margin-bottom: 1.2rem; letter-spacing: -0.8px;}
.sub02 .content .container .sub_title {margin-bottom: 2.1rem; line-height: 22px; letter-spacing: -0.56px;}
.sub02 .content .container .form__box {margin-bottom: 43rem;}
/* 비밀번호 재설정 end */

/* 비밀번호 재설정 휴대폰 인증 start */
.sub03 .content .container {padding: 4rem 2rem 5rem 2rem;}
.sub03 .content .container .title_wrap {padding: 0 1.5rem;}
.sub03 .content .container .title_wrap .title {margin-bottom: 1.2rem; letter-spacing: -0.8px;}
.sub03 .content .container .title_wrap .sub_title {margin-bottom: 2.1rem; line-height: 22px; letter-spacing: -0.56px;}
.sub03 .content .container .form_wrap .form__box:first-child{margin-bottom: 0.8rem;}
.sub03 .content .container .form_wrap .form__box:nth-child(2){margin-bottom: 1rem;}
.sub03 .content .container .form_wrap .info {line-height: 16px; letter-spacing: -0.4px; display: flex; gap: 0.8rem;}
.sub03 .content .container .form_wrap .info::before {content: ''; display: block; width: 4px; height: 4px; border-radius: 100%; background-color: #5D1E7E; margin-top: 6px;}
.sub03 .content .container .form_wrap{margin-bottom: 43rem;}
/* 비밀번호 재설정 휴대폰 인증 end */

/* 마이페이지 start */
.mypage .content .container {padding: 6.4rem 2rem 13rem 2rem;}
.mypage .content .container .l-banner{border-radius: 15px; position: relative; margin-bottom: 1rem;}
.mypage .content .container .l-banner .l-banner-box{padding: 1.6rem 1.6rem 2rem 1.6rem;}
.mypage .content .container .l-banner .l-banner-box .l-banner-icon{margin-bottom: 0.6rem;}
.mypage .content .container .l-banner .l-banner-box .txt {line-height: 22px; letter-spacing: -0.64px;text-transform: uppercase; margin-bottom: 0.4rem;}
.mypage .content .container .l-banner .l-banner-box .sub_txt {color: rgba(255, 255, 255, 0.80); line-height: 120%; letter-spacing: -0.4px;}
.mypage .content .container .l-banner .illust {position: absolute; bottom: 0; right: 2rem;}
.mypage .content .container .sm-banner{border-radius: 15px; margin-bottom: 4rem;}
.mypage .content .container .sm-banner .sm-banner-contents{ padding: 1.4rem 1.8rem;}
.mypage .content .container .sm-banner .sm-banner-contents .txt_wrap{ letter-spacing: -0.55px;}
.mypage .content .container .mypage_category {margin-bottom: 4rem;}
.mypage .content .container .mypage_category .info_admin {padding: 0 2rem;}
.mypage .content .container .mypage_category hr { width: 100%; height: 1px; background:#EEE; margin:3rem 0}
.mypage .content .container .mypage_category p { color: #999; font-size: 12px; font-weight: 700; letter-spacing: -0.24px; margin-bottom: 1.6rem;}
.mypage .content .container .mypage_category ul li {margin-bottom: 1.8rem;}
.mypage .content .container .mypage_category ul li a{color: #222; font-size: 14px; font-weight: 700; letter-spacing: -0.56px}
/* 마이페이지 end */

/* 마이페이지 - 비밀번호 확인 start */
.sub04 .content .container {padding: 4rem 2rem 5rem 2rem;}
.sub04 .content .container .title_wrap {padding: 0 1.5rem;}
.sub04 .content .container .title_wrap .title {margin-bottom: 3rem; letter-spacing: -0.8px;}
.sub04 .content .container .title_wrap .sub_title {margin-bottom: 2.1rem; line-height: 22px; letter-spacing: -0.56px;}
.sub04 .content .container .form_wrap .form__box:first-child{margin-bottom: 0.8rem;}
.sub04 .content .container .form_wrap .form__box:nth-child(2){margin-bottom: 1rem;}
.sub04 .content .container .form_wrap .info {line-height: 16px; letter-spacing: -0.4px; display: flex; gap: 0.8rem;}
.sub04 .content .container .form_wrap .info::before {content: ''; display: block; width: 4px; height: 4px; border-radius: 100%; background-color: #5D1E7E; margin-top: 6px;}
.sub04 .content .container .form_wrap{margin-bottom: 43rem;}
/* 마이페이지 - 비밀번호 확인 end */