<div class="container">
  <div class="top flex-between">
    <img src="/src/main/resource/static/images//user/common/footer_logo1.svg" alt="">
    <img src="/src/main/resource/static/images//user/common/footer_logo2.svg" alt="">
    <img src="/src/main/resource/static/images//user/common/footer_logo3.svg" alt="">
  </div>
  <div class="bottom">
    <a class="flex-center" href="javascript:void(0);">이용약관</a>
    <a class="flex-center" href="javascript:void(0);">개인정보 처리방침</a>
    <a class="flex-center" href="javascript:void(0);">민감정보 처리방침</a>
  </div>
</div>