<footer class="container" role="contentinfo">
  <div class="top flex flex--between" aria-label="파트너 로고">
    <img src="/src/main/resource/static/images/user/common/footer_logo1.svg" alt="파트너 로고 1">
    <img src="/src/main/resource/static/images/user/common/footer_logo2.svg" alt="파트너 로고 2">
    <img src="/src/main/resource/static/images/user/common/footer_logo3.svg" alt="파트너 로고 3">
  </div>

  <nav class="bottom" aria-label="푸터 링크">
    <ul class="flex flex--center">
      <li><a href="javascript:void(0);">이용약관</a></li>
      <li><a href="javascript:void(0);">개인정보 처리방침</a></li>
      <li><a href="javascript:void(0);">민감정보 처리방침</a></li>
    </ul>
  </nav>
</footer>