<div class="wrap">
  <aside class="container" role="complementary">
    <button type="button" class="close-btn" aria-label="메뉴 닫기">
      <img src="/src/main/resource/static/images/user/common/gnb_close.svg" alt="메뉴 닫기">
    </button>

    <!-- 사용자 정보 영역 -->
    <section class="profile_info flex flex--between buvo" aria-label="사용자 정보">
      <p><span class="color--primary">김블루</span>님</p>
      <div class= "right flex flex--between">
        <button type="button" aria-label="나의 정보">
          <img src="/src/main/resource/static/images/user/common/gnb_profile.svg" alt="나의 정보">
        </button>
        <button type="button" aria-label="로그아웃">
          <img src="/src/main/resource/static/images/user/common/gnb_quit.svg" alt="로그아웃">
        </button>
      </div>
    </section>

    <!-- 메뉴 콘텐츠 -->
    <nav class="contents color--gray44" aria-label="메인 메뉴">
      <section>
        <h2 class="color--primary mb-24 tit--fz16">난임백과</h2>
        <ul>
          <li>
            <strong class="mb-12 tit--fz13 color--gray44 txt--fw-600">나임이해</strong>
            <ul class="flex mb-24  gap-16">
              <li><a href="javascript:void(0);">난임정의</a></li>
              <li><a href="javascript:void(0);">난임원인</a></li>
            </ul>
          </li>
          <li>
            <strong class="mb-12 tit--fz13 color--gray44 txt--fw-600">가임력보존</strong>
            <ul class="flex mb-24 gap-16">
              <li><a href="javascript:void(0);">가임력정의</a></li>
              <li><a href="javascript:void(0);">사회적난자동결</a></li>
            </ul>
          </li>
          <li>
            <strong class="mb-12 tit--fz13">난임시술</strong>
            <ul class="flex mb-24 gap-10 color--gray44 txt--fw-600">
              <li><a href="javascript:void(0);">난임검사</a></li>
              <li><a href="javascript:void(0);">인공수정(IUI)</a></li>
              <li><a href="javascript:void(0);">체외수정</a></li>
              <li><a href="javascript:void(0);">배아이식</a></li>
              <li><a href="javascript:void(0);">난자냉동</a></li>
              <li><a href="javascript:void(0);">시술통계</a></li>
            </ul>
          </li>
          <li>
            <strong class="mb-12 tit--fz13 color--gray44 txt--fw-600">관련질환</strong>
            <ul class="flex mb-24 gap-10">
              <li><a href="javascript:void(0);">질환위치</a></li>
              <li><a href="javascript:void(0);">난소질환</a></li>
              <li><a href="javascript:void(0);">자궁질환</a></li>
              <li><a href="javascript:void(0);">내막질환</a></li>
            </ul>
          </li>
          <li>
            <strong class="mb-12 tit--fz13 color--gray44 txt--fw-600">건강관리</strong>
            <ul class="flex mb-24 gap-10">
              <li><a href="javascript:void(0);">추천사항</a></li>
              <li><a href="javascript:void(0);">금기사항</a></li>
            </ul>
          </li>
        </ul>
      </section>

      <hr class="menue_line mb-24"/>

      <section>
        <h2 class="color--blue mb-16 tit--fz16">난임지원</h2>
        <ul class="flex mb-24 gap-16 tit--fz13">
          <li><a href="javascript:void(0);">병원찾기</a></li>
          <li><a href="javascript:void(0);">난임정책</a></li>
          <li><a href="javascript:void(0);">심리상담센터</a></li>
          <li><a href="javascript:void(0);">쉼터</a></li>
        </ul>
      </section>

      <hr class="menue_line mb-24"/>

      <section>
        <h2 class="color--pink mb-16 tit--fz16">FAQ</h2>
        <ul class="flex mb-24 gap-16 tit--fz13">
          <li><a href="javascript:void(0);">진단 및 검사</a></li>
          <li><a href="javascript:void(0);">시술</a></li>
          <li><a href="javascript:void(0);">배아이식</a></li>
          <li><a href="javascript:void(0);">기타</a></li>
        </ul>
      </section>

      <hr class="menue_line mb-24"/>

      <section>
        <ul class="tit--fz16">
          <li class="mb-24">
            <a class="color--primary" href="javascript:void(0);"><strong>가임건강 체크하기</strong></a>
          </li>
          <hr class="menue_line mb-24"/>

          <li class="mb-24">
            <a class="color--blue" href="javascript:void(0);"><strong>난임시술 쉽게 이해하기</strong></a>
          </li>
          <hr class="menue_line mb-24"/>

          <li>
            <a class="color--deep-blue" href="javascript:void(0);"><strong>병원 방문 준비하기</strong></a>
          </li>
        </ul>
      </section>
    </nav>
  </aside>
  <!-- 하단 약관 -->
  <footer>
    <div class="top flex ">
      <a class="tit--fz12 color--gray66" href="javascript:void(0);">이용약관</a>
      <a class="tit--fz12 color--blk" href="javascript:void(0);">개인정보 처리방침</a>
      <a class="tit--fz12 color--gray66" href="javascript:void(0);">탈퇴신청</a>
    </div>

    <div class="gnb_footer bg--grayf9">
      <div class="bottom flex flex--between">
        <img src="/src/main/resource/static/images/user/common/footer_logo1.svg" alt="로고1">
        <img src="/src/main/resource/static/images/user/common/footer_logo2.svg" alt="로고2">
        <img src="/src/main/resource/static/images/user/common/footer_logo3.svg" alt="로고3">
      </div>
    </div>
  </footer>
</div>



