<div class="container flex flex--between">
  <div class="left">
    <a href="/src/main/webapp/WEB-INF/views/web/user/html/FD-31000.html">
      <img src="/src/main/resource/static/images/user/common/logo.svg" alt="로고">
    </a>
  </div>

  <div class="right flex items-center gap-2">
    <button type="button" aria-label="검색">
      <img src="/src/main/resource/static/images/user/common/header_search.svg" alt="검색 버튼">
    </button>
    <button class="menu-open-btn" type="button" aria-label="메뉴 열기">
      <img src="/src/main/resource/static/images/user/common/header_menu.svg" alt="메뉴 버튼">
    </button>
  </div>
</div>


