<ul class="search-footer flex flex--between is-radius">
  <li>
    <a class="flex flex--center drection--column" href="javascript:void(0);">
      <img src="/static/images/user/search/search_home.svg" alt="검색홈버튼">
      홈
    </a>
  </li>
  <li>
    <a class="menu-open-btn flex flex--center drection--column" href="javascript:void(0);">
      <img src="/static/images/user/search/search_menu.svg" alt="전체메뉴">
      전체메뉴
    </a>
  </li>
  <li>
    <a class="flex flex--center drection--column" href="javascript:void(0);">
      <img src="/static/images/user/common/search_magnifying_gray.svg" alt="검색">
      검색
    </a>
  </li>
  <li>
    <a class="flex flex--center drection--column" href="javascript:void(0);">
      <img src="/static/images/user/search/search_profile_gray.svg" alt="마이">
      마이
    </a>
  </li>
</ul>
