<ul class="search-footer flex flex--between">
  <li>
    <a class="flex flex--center drection--column" href="javascript:void(0);">
      <img src="/src/main/resource/static/images/user/search/search_home.svg" alt="검색홈버튼">
      홈
    </a>
  </li>
  <li>
    <a class="flex flex--center drection--column" href="javascript:void(0);">
      <img src="/src/main/resource/static/images/user/search/search_menu.svg" alt="검색홈버튼">
      전체메뉴
    </a>
  </li>
  <li>
    <a class="flex flex--center drection--column" href="javascript:void(0);">
      <img src="/src/main/resource/static/images/user/common/search_magnifying_gray.svg" alt="검색홈버튼">
      검색
    </a>
  </li>
  <li>
    <a class="flex flex--center drection--column" href="javascript:void(0);">
      <img src="/src/main/resource/static/images/user/search/search_profile.svg" alt="검색홈버튼">
      마이
    </a>
  </li>
</ul>
