<ul class="search-footer flex flex--between is-radius">
  <li>
    <a class="flex flex--center drection--column" href="/src/main/webapp/WEB-INF/views/web/user/html/SCFD31000.html">
      <img src="/src/main/resource/static/images/user/search/search_home.svg" alt="검색홈버튼">
      홈
    </a>
  </li>
  <li>
    <a class="menu-open-btn flex flex--center drection--column" href="javascript:void(0);">
      <img src="/src/main/resource/static/images/user/search/search_menu.svg" alt="전체메뉴">
      전체메뉴
    </a>
  </li>
  <li>
    <a class="flex flex--center drection--column" href="/src/main/webapp/WEB-INF/views/web/user/html/SCFD12100.html">
      <img src="/src/main/resource/static/images/user/common/search_magnifying_gray.svg" alt="검색">
      검색
    </a>
  </li>
  <li>
    <a class="flex flex--center drection--column" href="/src/main/webapp/WEB-INF/views/web/user/html/SCFD41000.html">
      <img src="/src/main/resource/static/images/user/search/search_profile_gray.svg" alt="마이">
      마이
    </a>
  </li>
</ul>
